.paymentwindow{
	width:100%;
}


..paymentwindow{
	width:100%;
}

.language, .language:hover{
	font-size:0.8em;
	color:black;
	text-decoration:none;
}


.langs_box{
	position:absolute;
	font-size:0.8em;
	right:60px;
	top:30px;
	width:100px;
	background:#f9f9f9;
	text-align:left;
	border-radius:3px;
	display:none;
}

.langs_box a{
	display:block;
	color:black;
	padding:8px;
	border-bottom:1px solid #ededed;
}
